{{ start_string }}
environment_defaults = {
    {% for setting, value in env.items %}"{{ setting|safe }}": {{ value|safe }},
    {% endfor %}
}

ENV = utils.get_runtime_parameters(environment_defaults)

{% for setting in env.keys %}{{ setting|safe }} = ENV.{{ setting|safe }},
{% endfor %}
{{ end_string }}